.chat-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chat-header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10%;
    margin: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    gap: 2em;
    padding-left: 1em;
    align-items: center;
}

.chat-header button {
    border: none;
    background-color: #F9B248;
    color: #0E2431;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
    margin: .25em 0;
}

.chat-body {
    padding-top: 10%;
    margin: 6.25em 10%;
}

.chat-footer {
    position: fixed;
    display: flex;
    bottom: 0;
    padding: 1em;
    justify-content: center;
    width: 100%;
    background-color: #0E2431;
}

.chat-footer input {
    width: 60%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    margin-right: 1em;
    font-size: 1rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.chat-footer input::placeholder {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.chat-footer input:focus {
    border: none;
    outline: none;
}

.chat-footer button {
    border: none;
    background-color: #F9B248;
    color: #0E2431;
    padding: 1em 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

.message-container > div {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    max-width: 30%;

    padding: 2em 3em 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 3px 15px 15px 15px;
}

.message-content p {
    margin: 0;
}

.message-meta {
    display: flex;
    gap: 1em;
    font-weight: 700;
}

#you {
    align-self: flex-end;
    border-radius: 15px 3px 15px 15px;
    background-color: #F9B248;
    color: #0E2431;
}